/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .pagination .mat-paginator-container {
//   justify-content: center ;
// }

// .mat-elevation-z8 {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.mat-elevation-z8 th.mat-header-cell,.mat-elevation-z8 td.mat-cell,.mat-elevation-z8 td.mat-footer-cell {
  padding: 24px;
}

