<div *ngIf="loading; else elseBlock" class="loading">
  <mat-spinner></mat-spinner>
</div>
  <ng-template #elseBlock>

  <div class="char-container" gdColumns="repeat(4, 1fr)" gdGap="50px" >
      <mat-card class="card" *ngFor="let character of characters" >
        <mat-card-header>
          <mat-card-title>{{character.name}}</mat-card-title>
          <mat-card-subtitle
            [class.red]="character.status == 'Dead'"
            [class.green]="character.status == 'Alive'"
            [class.gray]="character.status == 'unknown'"
            class="cart-status"
          >Status:{{character.status}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="character.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>Last known location:</p>
          <p><strong>{{character.location.name | uppercase}}</strong></p>
          <p>species: <strong>{{character.species}}</strong></p>
          <p>gender: <strong>{{character.gender}}</strong></p>
        </mat-card-content>

      </mat-card>
  </div>

</ng-template>
<mat-paginator
    fxLayout="row"
    fxLayoutAlign="center center"
    class="pagination"
    [hidePageSize]="true"
    [pageSize]="20"
    [length]="pageInfo.count"
    [showFirstLastButtons]="true"
    (page)="onPageChanges($event)">
</mat-paginator>
